@font-face {
  font-family: PixelFont;
  src: url('../assets/fonts/FFFFORWA.TTF');
}

// Video
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.3vmin;
  font-family: PixelFont;
}

html,
body {
  width: 100%;
}

#videoContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  image-rendering: pixelated;
}

#videoScreen {
  width: 100vmin;
  height: 100vmin;
  z-index: 999;
  overflow: hidden;
  object-fit: stretch;
  image-rendering: pixelated;
}

@-webkit-keyframes pulse {
  to {
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  to {
    color: rgba(255, 255, 255, 0);
  }
}

#skipIntro {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-family: PixelFont;
  cursor: default;
  position: absolute;
  font-size: 3vmin;
  bottom: 3vmin;
  z-index: 9999;


  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

}
