<div id="hud-container">
  <div id="hud" classs="ui layer">
    <div id="stats">
      <div id="energy-container">
        <div id="fullenergy"></div>
      </div>
      <div id="heart-container">
        <div id="fullheart"></div>
      </div>
    </div>
  </div>
</div>

<div id="left-side" class="sidebars">

</div>

<div id="game-screen">
  <canvas id="enemyScreen" class="layer"></canvas>
  <canvas id="bulletScreen" class="layer"></canvas>
  <canvas id="playerScreen" class="layer"></canvas>
  <div class="screen-field-container">
    <div id="screen-field">
      <div id="pauseScreen" style="display:none;">

        <div class="menuField" id="gamePaused">
          <p>Game paused</p>
          <br><br>
          <p class="gameOptionsButton" id="settingsButton">Settings</p>
          <p class="gameOptionsButton" id="creditsButton">Credits</p>
        </div>

        <div class="menuField" id="gameLost" style="display:none;">
          <p>Aww man, you lost :(</p>
          <br><br>
          <a class="gameOptionsButton" href="javascript:window.location.href=window.location.href">Try Again</a>
          <br>
          <a class="gameOptionsButton" target="_blank" href="https://giphy.com/embed/39manZbf7sISUlaRGG"
            id="cryAgain">Cry again</a>
        </div>

        <div class="menuField" id="gameWon" style="display:none;">
          <p>Wow you won :o</p>
          <p>good job, thanks for playing</p>
          <br><br>
          <a class="gameOptionsButton" href="javascript:window.location.href=window.location.href">Play Again</a>
        </div>
      </div>

      <div id="titlegroup">
        <h1 id="leveltitle"></h1>
        <h3 id="levelsubtitle"></h3>
      </div>
    </div>
  </div>
  <div id="backgrounds">
    <div id="background-2" clas="game-background"></div>
    <div id="background-1" clas="game-background"></div>
    <div id="background-0" clas="game-background"></div>
  </div>
</div>


<div id="right-side" class="sidebars">

</div>
