<div id="left-side" class="sidebars">

</div>

<div id="game-screen">
  <canvas id="background" class="layer"></canvas>
  <canvas id="enemyScreen" class="layer"></canvas>
  <canvas id="bulletScreen" class="layer"></canvas>
  <canvas id="playerScreen" class="layer"></canvas>

  <div id="pauseScreen" style="display:none;">
    <p style="display:block;"><br><br>Game is paused</p>
  </div>

  <div id="hud" classs="ui layer">
    <div id="stats">
      <p id="hp">HP: <mark id="statHp">100</mark></p>
    </div>
  </div>

</div>


<div id="right-side" class="sidebars">

</div>
