<div id="left-side" class="sidebars">

</div>

<div id="game-screen">
  <canvas id="enemyScreen" class="layer"></canvas>
  <canvas id="bulletScreen" class="layer"></canvas>
  <canvas id="playerScreen" class="layer"></canvas>
  <div class="screen-field-container">
    <div id="screen-field">
      <div id="titlegroup">
        <h1 id="leveltitle"></h1>
        <h3 id="levelsubtitle"></h3>
      </div>
    </div>
  </div>
  <div id="pauseScreen" style="display:none;">
    <p style="display:block;"><br><br>Game is paused</p>
  </div>
  <div id="backgrounds">
    <div id="background-2" clas="game-background"></div>
    <div id="background-1" clas="game-background"></div>
    <div id="background-0" clas="game-background"></div>
  </div>

  <div id="hud" classs="ui layer">
    <div id="stats">
      <p id="hp">HP: <mark id="statHp">100</mark></p>
    </div>
  </div>

</div>


<div id="right-side" class="sidebars">

</div>
